.card {
  background-color: #e8e8e8;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease-in-out;
}

.btn {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-top: 0.4rem;
}

.selected {
  transform: translatey(-10px);
}
